<div class="container">

<div class="page-header">
  <h1><%= t('contexts.office.access_forbidden') %></h1>
  <p>You have insufficient rights to access this page. Visit the journal/conference <%= link_to "home page", context_path(@context) %>.</p>
</div>

</div>
