<div class="container">
  
<div class="page-header">
  <%= link_to contexts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%#= link_to @context, class: 'btn btn-primary' do %>
  <%= link_to context_path(@context), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing context</h1>
</div>

<%= render 'form' %>

</div>
